{%- set external_urls = {
  'author': 'https://github.com/szymonmaszke',
  'pytorch': 'https://pytorch.org/docs/stable/index.html',
  'torchnet': 'https://github.com/szymonmaszke/torchnet',
  'torchdata': 'https://github.com/szymonmaszke/torchdata',
  'github': 'https://github.com/szymonmaszke/torchutilities',
  'github_issues': 'https://github.com/szymonmaszke/torchutilities/issues',
  'contributing': 'https://github.com/szymonmaszke/torchutilities/blob/master/CONTRIBUTING.md',
  'docs': 'file:///home/vyz/frameworks/torchutils/docs/build/html/index.html',
  'twitter': 'https://twitter.com/pytorch',
  'facebook': 'https://www.facebook.com/pytorch',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://pytorch.org/',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'ecosystem': '',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support'
}
-%}
